.contact_header
  = t contact_info.header

Deluxe Traduction

5 Villa de l’Astrolabe
75015 Paris

 

= t contact_info.phone
   :  (+33) 9 65 12 77 01
= t contact_info.portable
   :  (+33) 6 65 13 09 63
= t contact_info.fax
   :  (+33) 1 72 70 32 86

= mail_to "contact@deluxetraduction.com", nil, :encode => "javascript"
= link_to 'www.deluxetraduction.com', root_url