#title 
  = t 'index.header'

.body
  = t 'index.p1'

.body
  = t 'index.p2' 
  = link_to t('index.link_more'), services_url


.body
  = t 'index.p3'

 
  %ul
    %li 
      = t 'index.li1'
    %li 
      = t 'index.li2'
    %li 
      = t 'index.li3'
    %li 
      = t 'index.li4'