#title 
  = t services.header

.body
  = t services.p1

.body
  = t services.p2

  %ul
    %li
      %span.highlight
        = t services.li1.bold
      = t services.li1.text
    %li
      %span.highlight
        = t services.li2.bold
      = t services.li2.text
    %li
      %span.highlight
        = t services.li3.bold
      = t services.li3.text        
    %li
      %span.highlight
        = t services.li4.bold
      = t services.li4.text
    %li
      %span.highlight
        = t services.li5.bold
 
.body
  = t services.p3
  = mail_to "contact@deluxetraduction.com", nil, :encode => "javascript"