#header
  #top

    %h1#logo
      = t header.logo

    %h2#phrase
      = t header.phrase

    #ribbon
    #languages
      %ul#flags
        %li
          = link_to t(header.flag.french), "#"
        %li
          = link_to t(header.flag.english), "#"
  #middle
  %ul#menu
    %li
      = link_to t(header.menu.welcome), root_url
    %li
      = link_to t(header.menu.expertise), skills_url
    %li
      = link_to t(header.menu.languages), languages_url
    %li
      = link_to t(header.menu.services), services_url
    %li
      = link_to t(header.menu.contact), contact_url
    %li
      = link_to t(header.menu.news), news_url
