!!!
%html
  %head
    %title 
      = t app.title
  %body
    - [:error, :success, :notice].each do |type|
      - if flash[type]
        %div{:class => type}= flash[type]
    = render "layouts/header"
    = yield
    = render "layouts/footer"